*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
  --main-title-color: #9db0d1;
  --main-text-color: #000000;
  --button-primary-color:#ebac87;
  --button-secondary-color:#ffffff;
  --number-one-color: rgba(235, 172, 135, 0.4);
  --number-two-color: rgba(235, 172, 135, 0.6);
  --bg-primary-color:#ffffff;
  --bg-secondary-color:#87C6EB;
}

/*body {
    width: 1440px;
    height: 1047px;
}*/

.header, .footer{
    background-color: var(--bg-primary-color);
}

.content {
    background-color: var(--bg-secondary-color);
}

.main-title,
.top-button,
.caption,
.below-title,
.below-button,
.bottom-button{
    font-family: 'Arapey', serif;
    font-size: 30px;
    line-height: 32px;
}

.sub-main-title,
.link,
.card-number,
.card-description,
.below-description,
.quest-button{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.main-title{
    font-size: 60px;
    line-height: 66px;
    color: var(--main-title-color);
    text-align: center;
    margin: 100px 0 50px 0; ;
}

.sub-main-title{
    text-align: center;
    width: 1024px;
    margin: 0 auto ;
    color: var(--main-text-color);
    padding: 0 25px;
}

.top-button,
.below-button,
.bottom-button,
.below-button:hover,                                                    
.below-button:focus {
    background-color: var(--button-primary-color);
    color: var(--button-secondary-color);
    text-transform: uppercase;
    padding: 24px 50px;
    border-radius: 10px;
    border: 2px solid var(--button-secondary-color);
    cursor:pointer;
    
}

.top-button{
    margin: 50px auto;
    display: block;
}

.top-button:hover,
.top-button:focus,
.quest-button:hover,
.quest-button:focus,
.bottom-button:hover,
.bottom-button:focus{
    background-color: var(--button-secondary-color);
    color: var(--button-primary-color);
    border: 2px solid var(--button-primary-color);
}

.navigation{
   display: flex;
   justify-content: center;
   margin: 0 0 48px 0;
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
}

/*.link:hover,
.link:focus {
    color: var(--main-title-color);
}*/

.icon-tick {
    background-color: var(--main-title-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 17px 15px 18px 15px;
    display: block;
    margin: 0 15px 0 15px;
}

.link:hover .icon-tick,
.link:focus .icon-tick {
    background: none;
}

.link:hover .icon-tick svg *, 
.link:focus .icon-tick svg * {  
    fill: var(--main-title-color);
}

.caption{
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: var(--main-text-color);
    padding: 252px 120px 104px 120px;
    background: url(../img/bg_clouds.png) top / auto 200px repeat-x, 
               linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87C6EB 93.06%)
    
}

.important {
    font-weight: bold;
}

.card-number{
    background-color: var(--number-one-color);
    color: var(--button-secondary-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    padding: 12px 20px;
    font-size: 30px;
    line-height: 36px;
    margin: 20px 20px 5px 20px;
}

.two{
    background-color:var(--number-two-color); 
}

.three{
    background-color: var(--button-primary-color);
}

.card{
    width: 350px;
    background: var(--bg-primary-color);
    border-radius: 10px;
    border: 2px solid var(--button-secondary-color);
}

.card-img{
    background-color: var(--button-primary-color);
    margin: 5px 20px 10px 20px;
}

.card-description{
    padding: 10px 70px 20px 20px;
}

.card-list{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card:hover,
.card:focus {
    border: 2px solid var(--main-title-color);
}

.below {
    width: 1200px;
    min-height: 475px;
   /* margin: 75px auto 50px auto;*/
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: url(../img/bg_mount.png) bottom right / auto 475px no-repeat;
}

.below-title{
    color: var(--bg-primary-color);
    font-size: 40px;
    line-height: 44px;
    width: 600px;
    padding-right: 120px;
    margin: 75px 0 0 0;
}

.below-description{
    color: var(--main-text-color);
    width: 600px;
    padding-right: 10px;
    margin: 50px 0 0 0;
}

.link-below{
    color: inherit;
}

.link-below:hover,
.link-below:focus{
    color: blue;
}

.below-button{
    background-color: var(--button-secondary-color);
    color: var(--button-primary-color);
}

.below-button:hover,                                                    
.below-button:focus{
   /* background-color: var(--button-primary-color);
    color: var(--button-secondary-color);*/
    border: 2px solid var(--button-primary-color);
}    

.quest-button{
    background-color: var(--button-primary-color);
    color: var(--button-secondary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    cursor:pointer;
}

.below-two{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 50px auto;
}

.quest-button:hover,
.quest-button:focus{
    border: none;
}   

.footer{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link{
    margin: 0 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.social-link:hover{
    background: var(--main-title-color);
    border: 2 solid var(--main-title-color);
}

.social-link:hover .icon-social svg * 
/*.social-link:focus .icon-social svg **/ {  
    fill: var(--bg-primary-color);
}

.gap{
    min-height: 20px;
}